<div class="ColorPalette">
  <h1 id="heading">color palette </h1>
  <form action="/dashboard" method="GET">
    <button id="goback-btn">go back</button>
  </form>

  <div class="color-generator-wrapper-position">
    <div class="color-generator-wrapper-display">

      <button id="generate-colors">Generate Random</button>

      {{! <form action="/dashboard/colorpallette/save-pallette" method="POST"> }}
      <button type="submit" id="save-colors">save</button>
      {{! </form> }}

    </div>
    <div class="color-container-wrapper">
      <div id="container01" class="color-container">
        <h3 class="color-code">color code</h3>
      </div>
      <div id="container02" class="color-container">
        <h3 class="color-code">color code</h3>
      </div>
      <div id="container03" class="color-container">
        <h3 class="color-code">color code</h3>
      </div>
      <div id="container04" class="color-container">
        <h3 class="color-code">color code</h3>
      </div>
      <div id="container05" class="color-container">
        <h3 class="color-code">color code</h3>
      </div>
    </div>
  </div>

  <div class="color-save-wrapper-position">
    <h1>Saved</h1>

    <div class="saved-colors-wrapper">
      {{#each colorpallette}}
        {{!-- <div class="saved-colors-container">
          <div
            style="background-color: {{this.0.colors}};"
            class="color-saved"
          ></div>
          <div
            style="background-color: {{this.1.colors}};"
            class="color-saved"
          ></div>
          <div
            style="background-color: {{this.2.colors}};"
            class="color-saved"
          ></div>
          <div
            style="background-color: {{this.3.colors}};"
            class="color-saved"
          ></div>
          <div
            style="background-color: {{this.4.colors}};"
            class="color-saved"
          ></div>
        </div> --}}
        <h1 style="color: white;">{{this.1.colors}}</h1>
      {{/each}}
    </div>
  </div>
</div>