<div class="ColorPalette">
  <h1 id="heading">color palette </h1>
  <form action="/dashboard" method="GET">
    <button id="goback-btn">go back</button>
  </form>

  <div class="color-generator-wrapper-position">
    <div class="color-generator-wrapper-display">

      <button id="generate-colors">Generate Random</button>
      <button type="submit" id="save-colors">save</button>
      <h5 id="pallete-saved-popup">refresh to update saved, click on color code
        to copy saved list</h5>

    </div>
    <div class="color-container-wrapper">
      <div id="container01" class="color-container">
        <h3 class="color-code">color code</h3>
      </div>
      <div id="container02" class="color-container">
        <h3 class="color-code">color code</h3>
      </div>
      <div id="container03" class="color-container">
        <h3 class="color-code">color code</h3>
      </div>
      <div id="container04" class="color-container">
        <h3 class="color-code">color code</h3>
      </div>
      <div id="container05" class="color-container">
        <h3 class="color-code">color code</h3>
      </div>
    </div>
  </div>

  <div class="color-save-wrapper-position">
    <h1>Saved</h1>

    <div class="saved-colors-wrapper">

      {{#each pallette}}
        <div class="saved-colors-container">
          <div
            style="background-color: {{this.colors.color01}};"
            id="color-s-01"
            class="color-saved"
          ></div>
          <div
            style="background-color: {{this.colors.color02}};"
            id="color-s-02"
            class="color-saved"
          ></div>
          <div
            style="background-color: {{this.colors.color03}};"
            id="color-s-03"
            class="color-saved"
          ></div>
          <div
            style="background-color: {{this.colors.color04}};"
            id="color-s-04"
            class="color-saved"
          ></div>
          <div
            style="background-color: {{this.colors.color05}};"
            id="color-s-05"
            class="color-saved"
          ></div>

          {{!-- <h1 style="color: white;">{{this.colors.color01}}</h1> --}}

        </div>
      {{/each}}

    </div>
  </div>
</div>